<%- include('../partials/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <h3 class=" p-3">P3 fabrikasi</h3>
    <br>
    
    <!-- Main content -->
    <section class="content">
        <div class="card card-danger">

            <div class="card-header">
                <h3 class="card-title">2021 Yıllık Ürün İstatislik Grafiği</h3>
                <!-- form start -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <div class="form-group">
                    <img src="/img/istatislik/p3/p3_chart.png" alt="">
                </div>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->
        <!-- general form elements -->
        <div class="card card-danger">

            <div class="card-header">
                <h3 class="card-title">Genel Bilgiler</h3>
                <!-- form start -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <div class="form-group">

                    <input class="form-control text-center" disabled type="text" placeholder="Üretilen Ürünler"><br>
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM AYAKKABI ÇANTASI">
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM BLUZ">
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM CEKET">
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM ELBİSE">
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM ETEK">
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM PALTO">
                    <input class="form-control" disabled type="text" placeholder="BAYAN GİYİM PANTOLON">
                    <input class="form-control" disabled type="text" placeholder="ERKEK GİYİM PANTOLON">
                    <input class="form-control" disabled type="text" placeholder="ERKEK GİYİM PALTO">
                    <input class="form-control" disabled type="text" placeholder="ERKEK GİYİM CEKET">
                    <input class="form-control" disabled type="text" placeholder="ERKEK GİYİM GÖMLEK">
                    <input class="form-control" disabled type="text" placeholder="ERKEK GİYİM TAKIM ELBİSE">
                    <input class="form-control" disabled type="text" placeholder="ERKEK GİYİM YELEK">
                    <input class="form-control" disabled type="text" placeholder="ERKEK JERSEY TİŞÖRT">
                    



                    <br>
                    <input class="form-control" disabled type="text" placeholder="Toplam Kapasite: 1.450.000"><br>

                </div>
            </div>
            <!-- /.card-body -->

        </div>

        
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../partials/footer.ejs') %>


</body>

</html>