<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Admin Paneli</li>
            <li class="nav-item">
                <a href="istatistics" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        İstatislik
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="siparisler" class="nav-link">
                    <i class="nav-icon fas fa-bell"></i>
                    <p>
                        Gelen siparişler
                        
                        <span class="right badge badge-danger"><%= data[1].length %></span>
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="logout" class="nav-link">
                    <i class="nav-icon fas fa-times"></i>
                    <p>
                        Çıkış
                    </p>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->