<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Admin Paneli</li>
            <li class="nav-item">
                <a href="transactions" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        İşlemler
                        <span class="right badge badge-danger">Bot</span>
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="members" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Üyeler
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="tenders" class="nav-link">
                    <i class="nav-icon fas fa-car"></i>
                    <p>
                        İhaleler
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="offers" class="nav-link">
                    <i class="nav-icon fas fa-bolt"></i>
                    <p>
                        Teklifler
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="auction" class="nav-link">
                    <i class="nav-icon fas fa-dollar-sign"></i>
                    <p>
                        Açık Arttırma
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="leftovers" class="nav-link">
                    <i class="nav-icon fas fa-bell"></i>
                    <p>
                        Kalanlar
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="records" class="nav-link">
                    <i class="nav-icon fas fa-signal"></i>
                    <p>
                        Kayıtlar
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="settings" class="nav-link">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Ayarlar
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="logout" class="nav-link">
                    <i class="nav-icon fas fa-times"></i>
                    <p>
                        Çıkış
                    </p>
                </a>
            </li>
        </ul>
    </nav>

    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->