<%- include('partials/header.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <br>
        <!-- Main content -->
        <section class="content">

            <!-- general form elements -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">2021 Yıllık Ürün İstatislik Grafiği</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    <div class="form-group">
                        <img src="/img/istatislik/genel/chart.png" alt="" >
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->


    </div>

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('partials/footer.ejs') %>

        </body>

        </html>