<%- include('partials/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <br>
    <!-- Main content -->
    <section class="content">

        
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('partials/footer.ejs') %>


</body>

</html>