<%- include('partials/header.ejs') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <br>
        <!-- Main content -->
        <section class="content">
        
            <!-- ---------------- Bots start ----------------  -->

            <!-- AutoGong Bot -->
            <div class="card">

                <div class="card-header">
                    <h3 class="card-title">AutoGong Bot (v1) | <a style="color: hotpink;" href="http://www.autogong.com/ihale" target="_blank">autogong.com</a></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <button type="button" class="btn btn-success" onclick="komut('/bots/AutoGongBotV1','giris',1)">Giriş</button>
                    <button type="button" class="btn btn-danger"  onclick="komut('/bots/AutoGongBotV1','cikis',1)">Çıkış</button>
                    <button type="button" class="btn btn-primary" onclick="komut('/bots/AutoGongBotV1','kontrol',1)">Kontrol</button>
                    <button type="button" class="btn btn-primary" onclick="komut('/bots/AutoGongBotV1','anasayfa',1)">AnaSayfa</button>
                    <button type="button" class="btn btn-primary" onclick="komut('/bots/AutoGongBotV1','tumunuKaydet',1)">Tümünü Kaydet</button>
                    <button type="button" class="btn btn-primary" onclick="temizle(1)">Temizle</button><br>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <p id="bilgiAutoGong">> Komut bekleniyor...</p>
                </div>
                <!-- /.card-footer -->

            </div>

            <!-- E-Sovtaj Bot -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">E-Sovtaj Bot (v1) | <a style="color: hotpink;" href="https://www.e-sovtaj.com.tr/ESP/Auctions/OngoingAuctions" target="_blank">e-sovtaj.com.tr</a></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <button type="button" class="btn btn-success" onclick="komut('/bots/EspBotV1','giris',2)">Giriş</button>
                    <button type="button" class="btn btn-danger"  onclick="komut('/bots/EspBotV1','cikis',2)">Çıkış</button>
                    <button type="button" class="btn btn-primary" onclick="komut('/bots/EspBotV1','kontrol',2)">Kontrol</button>
                    <button type="button" class="btn btn-primary" onclick="komut('/bots/EspBotV1','anasayfa',2)">AnaSayfa</button>
                    <button type="button" class="btn btn-primary" onclick="komut('/bots/EspBotV1','tumunuKaydet',2)">Tümünü Kaydet</button>
                    <button type="button" class="btn btn-primary" onclick="temizle(2)">Temizle</button><br>
                </div> 
                <!-- /.card-body -->
                <div class="card-footer">
                    <p id="bilgiEsovtaj">> Komut bekleniyor...</p>
                </div>
                <!-- /.card-footer -->
            </div>

           <!-- Zirvem Otomotiv Bot -->
           <div class="card">
            <div class="card-header">
                <h3 class="card-title">Zirvem Otomotiv Bot (v1) | <a style="color: hotpink;" href="https://zirvemotomotiv.com.tr/" target="_blank">zirvemotomotiv.com.tr</a></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                </div>
            </div>

            <div class="card-body">
                <button type="button" class="btn btn-success" onclick="komut('/bots/ZirvemBotV1','giris',3)">Giriş</button>
                <button type="button" class="btn btn-danger"  onclick="komut('/bots/ZirvemBotV1','cikis',3)">Çıkış</button>
                <button type="button" class="btn btn-primary" onclick="komut('/bots/ZirvemBotV1','kontrol',3)">Kontrol</button>
                <button type="button" class="btn btn-primary" onclick="komut('/bots/ZirvemBotV1','anasayfa',3)">AnaSayfa</button>
                <button type="button" class="btn btn-primary" onclick="komut('/bots/ZirvemBotV1','tumunuKaydet',3)">Tümünü Kaydet</button>
                <button type="button" class="btn btn-primary" onclick="temizle(3)">Temizle</button><br>
            </div> 
            <!-- /.card-body -->
            <div class="card-footer">
                <p id="bilgiZirvem">> Komut bekleniyor...</p>
            </div>
            <!-- /.card-footer -->
        </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

   
    <%- include('partials/footer.ejs') %>

    <script>

		function komut(new_url, islem , hangisi) {
			var xhttp = new XMLHttpRequest();
			if (hangisi == 1) {
				document.getElementById("bilgiAutoGong").innerHTML = '> İşlem yapılıyor...<i class="fa fa-spinner fa-pulse fa fa-fw margin-bottom"></i>';
			}
			else if (hangisi == 2) {
				document.getElementById("bilgiEsovtaj").innerHTML = '> İşlem yapılıyor...<i class="fa fa-spinner fa-pulse fa fa-fw margin-bottom"></i>';
			}
            else if (hangisi == 3) {
                document.getElementById("bilgiZirvem").innerHTML = '> İşlem yapılıyor...<i class="fa fa-spinner fa-pulse fa fa-fw margin-bottom"></i>';
            }
            else{
                alert("problem happend")
            }

            //send the ajax request to bots
            $.ajax({
                url: new_url,
                method: 'POST',
                data: {islem : islem},
                success: function(res){
                    response_Text(hangisi, res);
                }
            })

		}

        function response_Text(hangisi, text) {

            if (hangisi == 1) {
                document.getElementById("bilgiAutoGong").innerHTML = text;
            }
            else if (hangisi == 2) {
                document.getElementById("bilgiEsovtaj").innerHTML = text;
            }
            else if (hangisi == 3) {
                document.getElementById("bilgiZirvem").innerHTML = text;
            }
            else{
                alert("problem happend")
            }
        }

        //temizle function
		function temizle(hangisi) {
            if (hangisi == 1) {
                document.getElementById("bilgiAutoGong").innerHTML = "> Komut bekleniyor...";
            }
            else if (hangisi == 2) {
                document.getElementById("bilgiEsovtaj").innerHTML = "> Komut bekleniyor...";
            }
            else{
                document.getElementById("bilgiZirvem").innerHTML = "> Komut bekleniyor...";
            }
		}

	</script>

    
</body>

</html>